
*.aux

*.out

*.gz

*.sublime-workspace

tex/LinAl_2.pdf

*.log

*.toc

tex/bog.pdf

13_matan_2sem/tex/0.pdf

13_matan_2sem/tex_min/0.pdf

14_physics_2sem/tex_CQ/main.pdf

*.nav

14_physics_2sem/tex_present/main.snm

14_physics_2sem/tex_present/main.pdf

14_physics_2sem/tex_vpv/main.pdf
